{% extends 'layout/base.html' %}

{% block contents %}
    <div class="row container" style="margin-top: 20px;">
        {% if invoices %}
            <div class="col s12 m6 offset-m3">
                <h5>Search:</h5>
                <form method="GET" action="{{ url_for('search_invoice') }}">
                    <div class="input-field blue-grey darken-1 search z-depth-2">
                        <input placeholder="Search by invoice number" type="search" name="invoice_id" required>
                    </div>
                </form>
                {% if request.args.get('nfy') %}
                    <div class="flash card blue-grey darken-1 offset-m3">
                        <div class="card-content white-text">
                            <p class="white-text">Invoice not found.</p>
                        </div>
                    </div>
                    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
                    <script>
                        var  flash = $('.flash');
                        flash.hide();
                        flash.slideDown();
                        flash.fadeToggle(5000);
                    </script>
                {% endif %}
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col s12 m8 offset-m2">
            {% if invoices %}
                <h5>Latest invoices:</h5>
                <div class="card blue-grey darken-1">
                    <div class="card-content">
                        <div class="collection white">
                            <div class="row">
                                <div class="col s3 m3 l2">
                                    <h5>Invoice</h5>
                                </div>
                                <div class="col s4 m3 l4">
                                    <h5>Date</h5>
                                </div>
                                <div class="col s5 m4 l5">
                                    <h5>Costumer</h5>
                                </div>
                            </div>
                        </div>
                        <div class="collection"id="invoice-collection">
                            {% for invoice in invoices %}
                                <a href="{{ url_for('print_invoice') }}?id={{ invoice[1] }}&costumer={{ invoice[2] }}&date={{ invoice[3] }}&seller={{ invoice[4] }}&items={{ invoice[5] }}&total={{ invoice[6] }}&pending={{ invoice[7] }}" class="collection-item">
                                    <div class="row">

                                        <div class="col s3 m3 l2">
                                            {{ invoice[1] }}
                                        </div>
                                        <div class="col s4 m3 l4">
                                            {{ invoice[3] }}
                                        </div>
                                        <div class="col s5 m4 l5">
                                            {{ invoice[2] }}
                                        </div>
                                        <div class="col m1 l1 hide-on-small-only">
                                            {% if invoice[7] == 1 %}<i class="material-icons">new_releases</i>{% endif %}
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <p>This are the 10 latest invoices.</p>
            {% else %}
                <div class="card blue-grey darken-1">
                    <h2 class="white-text">No invoices available!</h2>
                    <h3><a href="{{ url_for('create_invoice') }}">Create one</a></h3>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}