{% extends 'layout/base.html' %}

{% block contents %}
    <div class="container">
        <div class="row">
            <div class="card col s12 m4 z-depth-2 light-green darken-2">
                <h5 class="center"><u>Quick links</u></h5>
                <ul class="center">
                    <li><a href="{{ url_for('create_invoice') }}" style="color: #f1f8e9;">Create Invoice</li>
                    <li><a href="{{ url_for('select_invoice') }}" style="color: #f1f8e9;">Print Invoice</a></li>
                    <li><a href="{{ url_for('view_pending') }}" style="color: #f1f8e9;">View Pending</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}